
h1 {
    text-align: center;

}
body {
    background-color: rgb(155, 227, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
h2 {
    text-align: center;

}
h3 {
    text-align: center;
}
ul{
    text-align: center;

}
p{
    text-align: center;

}