@charset "UTF-8";

:root {
    --cor0: #8FD2EB;
    --cor1: #47BBE6;
    --cor2: #3792B3;
    --cor3: #205366;
    --cor4: #3E5B66;
}
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
header {
    background-color: white;
    margin: 30px auto auto auto;
    padding-bottom: 5px;
    padding-top: 2px;
    border-radius: 25px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.226);
    background-attachment: fixed;
    min-width: 250px;
    max-width: 300px;
    text-align: center;
}
 header > h1 {
    padding: 5px;
    margin-top: 5px;
    /*background-color: var(--cor4);
    border-radius: 25px 25px 0 0;
    color: rgb(176, 243, 255);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.459);*/
}
body {
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor3));
    background-attachment: fixed
}
main {
    background-color: white;
    padding: 10px 10px 1px 10px;
    margin: 35px auto 0 auto;
    border-radius: 25px 25px 0 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.226);
    min-width: 360px;
    max-width: 930px;
}
main > section > p > a {
    text-decoration: none;
    color: rgb(7, 7, 7);
    font-weight: bold;
}
main > section > p > a:hover {
    text-decoration: underline;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
nav {
    text-align: center;
    background-color: var(--cor4);
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
    padding: 10px;
    border-radius: 0 0 15px 15px;
    margin: 0 auto 0 auto;
    border: 10px;
    min-width: 360px;
    max-width: 930px;
}
nav > a {
    padding: 10px;
    color: rgb(176, 243, 255);
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition-duration: 0.2s;
}
nav > a:hover {
    background-color: var(--cor1);
    color: var(--cor3);
    text-decoration: underline;

}
h3 {
    text-align: center;
}
p{
    text-align: center;

}
footer {
    text-align: center;
    color: white;
    background-color: var(--cor3);
    margin-top: 29%;
    margin-bottom: 0;
    font-size: small;

}
.contrucao {
    background-color: white;
}
.img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagem {
    width: 50vw;
    margin: 0.5em;
}